<template>
	<n-space>
		<n-button type="success" @click="openStation">
			<n-icon>
				<zoom-in-filled />
			</n-icon>
		</n-button>
		<n-button @click="editStation">
			<n-icon>
				<build-filled />
			</n-icon>
		</n-button>
		<n-button type="error" @click="removeStation">
			<n-icon>
				<delete-forever-filled />
			</n-icon>
		</n-button>
	</n-space>
</template>

<script>
import { Station } from '@/store/modules';
import { defineComponent, h } from 'vue';
import { mapActions } from 'vuex';
import {
	DeleteForeverFilled,
	BuildFilled,
	ZoomInFilled,
} from '@vicons/material';
import StationEditModal from './StationEditModal.vue';

export default defineComponent({
	components: {
		DeleteForeverFilled,
		BuildFilled,
		ZoomInFilled,
	},
	props: {
		station: Station,
	},
	methods: {
		...mapActions(['openModal', 'deleteStation', 'setCurrentStation']),
		editStation() {
			this.setCurrentStation(this.station);
			this.openModal(h(StationEditModal));
		},
		removeStation() {
			this.deleteStation(this.station.id);
		},
		openStation() {
			this.$router.push({
				name: 'Station Details',
				params: { stationId: this.station.id },
			});
		},
	},
});
</script>
