<template>
	<p>{{ station.name }}</p>
</template>

<script>
import { Station } from '@/store/modules';
import { defineComponent } from 'vue';

export default defineComponent({
	props: {
		station: Station,
	},
});
</script>
