<template>
	<n-card
		style="width: 600px"
		title="Create Station"
		:bordered="false"
		size="huge"
		role="dialog"
		aria-modal="true"
	>
		<n-space vertical>
			<n-input v-model:value="name" type="text" placeholder="Name" />
			<search-dropdown
				:value="unitId"
				placeholder="Unit"
				:getLabel="getLabel"
				itemKey="units"
				:queryParameters="['name']"
				@on-select="onSelect"
			/>
			<n-space justify="space-between">
				<n-button type="error" @click="closeModal"> Abort </n-button>
				<n-button @click="submitCreate"> Create </n-button>
			</n-space>
		</n-space>
	</n-card>
</template>

<script>
import { defineComponent } from 'vue';
import { mapActions } from 'vuex';
import SearchDropdown from '@/components/SearchDropdown.vue';

export default defineComponent({
	components: {
		SearchDropdown,
	},
	data() {
		return {
			name: '',
			unitId: null,
		};
	},
	methods: {
		...mapActions(['createStation', 'closeModal']),
		submitCreate() {
			this.createStation({
				name: this.name,
				unitId: this.unitId,
			});

			this.closeModal();
		},
		getLabel(item) {
			return `${item.nameSingular} / ${item.namePlural}`;
		},
		onSelect(item) {
			this.unitId = item.id;
		},
	},
});
</script>
