<template>
	<n-card
		style="width: 600px"
		title="Create Unit"
		:bordered="false"
		size="huge"
		role="dialog"
		aria-modal="true"
	>
		<n-space vertical>
			<n-input
				v-model:value="nameSingular"
				type="text"
				placeholder="Singular name"
			/>
			<n-input
				v-model:value="namePlural"
				type="text"
				placeholder="Plural name"
			/>
			<n-space justify="space-between">
				<n-button type="error" @click="closeModal"> Abort </n-button>
				<n-button @click="submitCreate"> Create </n-button>
			</n-space>
		</n-space>
	</n-card>
</template>

<script>
import { defineComponent } from 'vue';
import { mapActions } from 'vuex';

export default defineComponent({
	data() {
		return {
			nameSingular: '',
			namePlural: '',
		};
	},
	methods: {
		...mapActions(['createUnit', 'closeModal']),
		submitCreate() {
			this.createUnit({
				nameSingular: this.nameSingular,
				namePlural: this.namePlural,
			});

			this.closeModal();
		},
	},
});
</script>
