<template>
	<n-space>
		<n-button @click="editUnit">
			<n-icon>
				<build-filled />
			</n-icon>
		</n-button>
		<n-button type="error" @click="removeUnit">
			<n-icon>
				<delete-forever-filled />
			</n-icon>
		</n-button>
	</n-space>
</template>

<script>
import { Unit } from '@/store/modules';
import { defineComponent, h } from 'vue';
import { mapActions } from 'vuex';
import { DeleteForeverFilled, BuildFilled } from '@vicons/material';
import UnitEditModal from './UnitEditModal.vue';

export default defineComponent({
	components: {
		DeleteForeverFilled,
		BuildFilled,
	},
	props: {
		unit: Unit,
	},
	methods: {
		...mapActions(['openModal', 'deleteUnit', 'setCurrentUnit']),
		editUnit() {
			this.setCurrentUnit(this.unit);
			this.openModal(h(UnitEditModal));
		},
		removeUnit() {
			this.deleteUnit(this.unit.id);
		},
	},
});
</script>
