<template>
	<p>{{ unit.nameSingular }} / {{ unit.namePlural }}</p>
</template>

<script>
import { Unit } from '@/store/modules';
import { defineComponent } from 'vue';

export default defineComponent({
	props: {
		unit: Unit,
	},
});
</script>
