<template>
	<n-card
		style="width: 600px"
		title="Update Unit"
		:bordered="false"
		size="huge"
		role="dialog"
		aria-modal="true"
	>
		<n-space vertical>
			<n-input
				v-model:value="nameSingular"
				type="text"
				placeholder="Singular name"
			/>
			<n-input
				v-model:value="namePlural"
				type="text"
				placeholder="Plural name"
			/>
			<n-space justify="space-between">
				<n-button type="error" @click="closeModal"> Abort </n-button>
				<n-button @click="submitEdit"> Submit </n-button>
			</n-space>
		</n-space>
	</n-card>
</template>

<script>
import { defineComponent } from 'vue';
import { mapActions, mapGetters } from 'vuex';

export default defineComponent({
	computed: {
		...mapGetters({
			unit: 'getCurrentUnit',
		}),
	},
	mounted() {
		this.nameSingular = this.unit?.nameSingular ?? '';
		this.namePlural = this.unit?.namePlural ?? '';
	},
	data() {
		return {
			nameSingular: '',
			namePlural: '',
		};
	},
	methods: {
		...mapActions(['updateUnit', 'closeModal']),
		submitEdit() {
			this.updateUnit({
				id: this.unit.id,
				nameSingular: this.nameSingular,
				namePlural: this.namePlural,
			});

			this.closeModal();
		},
	},
});
</script>
