<template>
	<n-space
		vertical
		style="max-height: 80vh"
		item-style="padding-top: 2.5px; padding-bottom: 2.5px;"
	>
		<n-button type="success" @click="openCreateScoreModal">
			<template #icon>
				<n-icon>
					<add-filled />
				</n-icon>
			</template>
			Create Score
		</n-button>
		<n-data-table
			:columns="columns"
			:data="scores"
			virtual-scroll
			striped
			max-height="100%"
		/>
		<n-pagination
			v-model:page="page"
			v-model:page-size="pageSize"
			:page-count="100"
			show-size-picker
			:page-sizes="[5, 15, 20, 25, 30]"
		/>
	</n-space>
</template>

<script>
import store from '@/store';
import { defineComponent, onMounted, h } from 'vue';
import { mapActions, mapGetters } from 'vuex';
import ScoreActions from '@/components/scores/ScoreActions.vue';
import ScoreCreateModal from '@/components/scores/ScoreCreateModal.vue';
import { AddFilled } from '@vicons/material';
import StudentPreview from '@/components/students/StudentPreview.vue';
import StationPreview from '@/components/stations/StationPreview.vue';

export default defineComponent({
	components: {
		AddFilled,
	},
	setup() {
		onMounted(() => {
			store.dispatch('fetchScores', { page: 1, limit: 5 });
		});

		return {
			columns: [
				{
					title: 'Station',
					key: 'station',
					render(row) {
						return h(StationPreview, {
							station: row.station,
						});
					},
				},
				{
					title: 'Student',
					key: 'student',
					render(row) {
						return h(StudentPreview, {
							student: row.student,
						});
					},
				},
				{
					title: 'Score',
					key: 'score',
				},
				{
					title: 'Actions',
					key: 'actions',
					render(row) {
						return h(ScoreActions, {
							score: row,
						});
					},
				},
			],
		};
	},
	data() {
		return {
			page: 1,
			pageSize: 5,
		};
	},
	computed: {
		...mapGetters({
			scores: 'getScores',
		}),
	},
	watch: {
		page(newPage) {
			this.fetchScores({ page: newPage, limit: this.pageSize });
		},
		pageSize(newPageSize) {
			this.fetchScores({ page: this.page, limit: newPageSize });
		},
	},
	methods: {
		...mapActions(['openModal', 'fetchScores']),
		openCreateScoreModal() {
			this.openModal(h(ScoreCreateModal));
		},
	},
});
</script>
