<template>
	<n-space
		v-if="station"
		vertical
		style="max-height: 80vh"
		item-style="padding-top: 2.5px; padding-bottom: 2.5px;"
	>
		<h3>Name: {{ station.name }}</h3>

		<h3>
			<n-space align="center">
				Unit: <unit-preview :unit="station.unit" />
			</n-space>
		</h3>

		<template v-if="station?.scores">
			<n-data-table
				:columns="columns"
				:data="fixedScores"
				virtual-scroll
				striped
				max-height="100%"
			/>
		</template>
	</n-space>
</template>

<script>
import { defineComponent, h } from 'vue';
import { mapActions, mapGetters } from 'vuex';
import StudentPreview from '@/components/students/StudentPreview.vue';
import UnitPreview from '@/components/units/UnitPreview.vue';
import ScorePreview from '@/components/scores/ScorePreview.vue';
import ScoreActions from '@/components/scores/ScoreActions.vue';

export default defineComponent({
	components: {
		UnitPreview,
	},
	mounted() {
		this.fetchStationById(this.$route.params.stationId);
	},
	data() {
		return {
			columns: [
				{
					title: 'Student',
					key: 'student',
					render(row) {
						return h(StudentPreview, {
							student: row.student,
						});
					},
				},
				{
					title: 'Score',
					key: 'score',
					render(row) {
						return h(ScorePreview, {
							score: row,
						});
					},
				},
				{
					title: 'Actions',
					key: 'actions',
					render(row) {
						return h(ScoreActions, {
							score: row,
						});
					},
				},
			],
		};
	},
	computed: {
		...mapGetters({
			station: 'getCurrentStation',
		}),
		fixedScores() {
			return this.station.scores.map((el) => ({
				...el,
				...{
					station: {
						unit: this.station.unit,
					},
				},
			}));
		},
	},
	methods: {
		...mapActions(['fetchStationById']),
	},
});
</script>
