<template>
	<n-space
		vertical
		style="max-height: 80vh"
		item-style="padding-top: 2.5px; padding-bottom: 2.5px;"
	>
		<n-button type="success" @click="openCreateStationModal">
			<template #icon>
				<n-icon>
					<add-filled />
				</n-icon>
			</template>
			Create Station
		</n-button>
		<n-data-table
			:columns="columns"
			:data="stations"
			virtual-scroll
			striped
			max-height="100%"
		/>
		<n-pagination
			v-model:page="page"
			v-model:page-size="pageSize"
			:page-count="100"
			show-size-picker
		/>
	</n-space>
</template>

<script>
import store from '@/store';
import { defineComponent, onMounted, h } from 'vue';
import { mapActions, mapGetters } from 'vuex';
import StationActions from '@/components/stations/StationActions.vue';
import StationCreateModal from '@/components/stations/StationCreateModal.vue';
import { AddFilled } from '@vicons/material';
import UnitPreview from '@/components/units/UnitPreview.vue';

export default defineComponent({
	components: {
		AddFilled,
	},
	setup() {
		onMounted(() => {
			store.dispatch('fetchStations', { page: 1 });
		});

		return {
			columns: [
				{
					title: 'Id',
					key: 'id',
				},
				{
					title: 'Name',
					key: 'name',
				},
				{
					title: 'Unit',
					key: 'unit',
					render(row) {
						return h(UnitPreview, {
							unit: row.unit,
						});
					},
				},
				{
					title: 'Actions',
					key: 'actions',
					render(row) {
						return h(StationActions, {
							station: row,
						});
					},
				},
			],
		};
	},
	data() {
		return {
			page: 1,
			pageSize: 100,
		};
	},
	computed: {
		...mapGetters({
			stations: 'getStations',
		}),
	},
	watch: {
		page(newPage) {
			this.fetchStations({ page: newPage });
		},
	},
	methods: {
		...mapActions(['openModal', 'fetchStations']),
		openCreateStationModal() {
			this.openModal(h(StationCreateModal));
		},
	},
});
</script>
