<template>
	<n-space
		v-if="student"
		vertical
		style="max-height: 80vh"
		item-style="padding-top: 2.5px; padding-bottom: 2.5px;"
	>
		<h3>First name: {{ student.firstName }}</h3>
		<h3>Last name: {{ student.lastName }}</h3>

		<template v-if="student?.scores">
			<n-data-table
				:columns="columns"
				:data="student.scores"
				virtual-scroll
				striped
				max-height="100%"
			/>
		</template>
	</n-space>
</template>

<script>
import { defineComponent, h } from 'vue';
import { mapActions, mapGetters } from 'vuex';
import StationPreview from '@/components/stations/StationPreview.vue';
import ScorePreview from '@/components/scores/ScorePreview.vue';
import ScoreActions from '@/components/scores/ScoreActions.vue';

export default defineComponent({
	mounted() {
		this.fetchStudentById(this.$route.params.studentId);
	},
	data() {
		return {
			columns: [
				{
					title: 'Station',
					key: 'station',
					render(row) {
						return h(StationPreview, {
							station: row.station,
						});
					},
				},
				{
					title: 'Score',
					key: 'score',
					render(row) {
						return h(ScorePreview, {
							score: row,
						});
					},
				},
				{
					title: 'Actions',
					key: 'actions',
					render(row) {
						return h(ScoreActions, {
							score: row,
						});
					},
				},
			],
		};
	},
	computed: {
		...mapGetters({
			student: 'getCurrentStudent',
		}),
	},
	methods: {
		...mapActions(['fetchStudentById']),
	},
});
</script>
