<template>
	<n-space
		vertical
		style="max-height: 80vh"
		item-style="padding-top: 2.5px; padding-bottom: 2.5px;"
	>
		<n-button type="success" @click="openCreateStudentModal">
			<template #icon>
				<n-icon>
					<add-filled />
				</n-icon>
			</template>
			Create Student
		</n-button>
		<n-data-table
			:columns="columns"
			:data="students"
			virtual-scroll
			striped
			max-height="100%"
		/>
		<n-pagination
			v-model:page="page"
			v-model:page-size="pageSize"
			:page-count="100"
			show-size-picker
			:page-sizes="[5, 15, 20, 25, 30]"
		/>
	</n-space>
</template>

<script>
import store from '@/store';
import { defineComponent, onMounted, h } from 'vue';
import { mapActions, mapGetters } from 'vuex';
import StudentActions from '@/components/students/StudentActions.vue';
import StudentCreateModal from '@/components/students/StudentCreateModal.vue';
import { AddFilled } from '@vicons/material';

export default defineComponent({
	components: {
		AddFilled,
	},
	setup() {
		onMounted(() => {
			store.dispatch('fetchStudents', { page: 1, limit: 5 });
		});

		return {
			columns: [
				{
					title: 'Id',
					key: 'id',
				},
				{
					title: 'First name',
					key: 'firstName',
				},
				{
					title: 'Last name',
					key: 'lastName',
				},
				{
					title: 'Actions',
					key: 'actions',
					render(row) {
						return h(StudentActions, {
							student: row,
						});
					},
				},
			],
		};
	},
	data() {
		return {
			page: 1,
			pageSize: 5,
		};
	},
	computed: {
		...mapGetters({
			students: 'getStudents',
		}),
	},
	watch: {
		page(newPage) {
			this.fetchStudents({ page: newPage, limit: this.pageSize });
		},
		pageSize(newPageSize) {
			this.fetchStudents({ page: this.page, limit: newPageSize });
		},
	},
	methods: {
		...mapActions(['openModal', 'fetchStudents']),
		openCreateStudentModal() {
			this.openModal(h(StudentCreateModal));
		},
	},
});
</script>
