<template>
	<n-space
		vertical
		style="max-height: 80vh"
		item-style="padding-top: 2.5px; padding-bottom: 2.5px;"
	>
		<n-button type="success" @click="openCreateUnitModal">
			<template #icon>
				<n-icon>
					<add-filled />
				</n-icon>
			</template>
			Create Unit
		</n-button>
		<n-data-table
			:columns="columns"
			:data="units"
			virtual-scroll
			striped
			max-height="100%"
		/>
		<n-pagination
			v-model:page="page"
			v-model:page-size="pageSize"
			:page-count="100"
			show-size-picker
			:page-sizes="[5, 15, 20, 25, 30]"
		/>
	</n-space>
</template>

<script>
import store from '@/store';
import { defineComponent, onMounted, h } from 'vue';
import { mapActions, mapGetters } from 'vuex';
import UnitActions from '@/components/units/UnitActions.vue';
import UnitCreateModal from '@/components/units/UnitCreateModal.vue';
import { AddFilled } from '@vicons/material';

export default defineComponent({
	components: {
		AddFilled,
	},
	setup() {
		onMounted(() => {
			store.dispatch('fetchUnits', { page: 1, limit: 5 });
		});

		return {
			columns: [
				{
					title: 'Id',
					key: 'id',
				},
				{
					title: 'Singular name',
					key: 'nameSingular',
				},
				{
					title: 'Plural name',
					key: 'namePlural',
				},
				{
					title: 'Actions',
					key: 'actions',
					render(row) {
						return h(UnitActions, {
							unit: row,
						});
					},
				},
			],
		};
	},
	data() {
		return {
			page: 1,
			pageSize: 5,
		};
	},
	computed: {
		...mapGetters({
			units: 'getUnits',
		}),
	},
	watch: {
		page(newPage) {
			this.fetchUnits({ page: newPage, limit: this.pageSize });
		},
		pageSize(newPageSize) {
			this.fetchUnits({ page: this.page, limit: newPageSize });
		},
	},
	methods: {
		...mapActions(['openModal', 'fetchUnits']),
		openCreateUnitModal() {
			this.openModal(h(UnitCreateModal));
		},
	},
});
</script>
