<template>
	<n-auto-complete
		v-model:value="localValue"
		:default-value="value"
		:options="localOptions"
		:placeholder="placeholder"
		:on-select="onSelected"
	/>
</template>

<script>
import { searchForItem } from '@/services/apiService';
import { defineComponent } from 'vue';

export default defineComponent({
	props: ['value', 'placeholder', 'getLabel', 'itemKey', 'queryParameters'],
	data() {
		return {
			localValue: this.value,
			localOptions: [],
			response: [],
			currentDebounce: null,
		};
	},
	watch: {
		localValue(newValue) {
			this.trySearch(newValue);
		},
	},
	methods: {
		onSelected(selectedValue) {
			this.$emit(
				'onSelect',
				this.response.find((el) => el.id === selectedValue)
			);
		},
		trySearch(value) {
			if (this.currentDebounce) clearTimeout(this.currentDebounce);

			this.currentDebounce = setTimeout(() => {
				this.search(value);
			}, 300);
		},
		async search(value) {
			const query = this.queryParameters
				.map(
					(el, index) =>
						`${el}=${value}${
							index < this.queryParameters.length - 1 ? '?' : ''
						}`
				)
				.join('');

			this.response = await searchForItem(this.itemKey, query);

			this.localOptions = this.response.map((el) => ({
				value: el.id,
				label: this.getLabel(el),
			}));
		},
	},
});
</script>
