<template>
	<n-space>
		<n-button type="success" @click="openStudent">
			<n-icon>
				<zoom-in-filled />
			</n-icon>
		</n-button>
		<n-button @click="editStudent">
			<n-icon>
				<build-filled />
			</n-icon>
		</n-button>
		<n-button type="error" @click="removeStudent">
			<n-icon>
				<delete-forever-filled />
			</n-icon>
		</n-button>
	</n-space>
</template>

<script>
import { Student } from '@/store/modules';
import { defineComponent, h } from 'vue';
import { mapActions } from 'vuex';
import {
	DeleteForeverFilled,
	BuildFilled,
	ZoomInFilled,
} from '@vicons/material';
import StudentEditModal from './StudentEditModal.vue';

export default defineComponent({
	components: {
		DeleteForeverFilled,
		BuildFilled,
		ZoomInFilled,
	},
	props: {
		student: Student,
	},
	methods: {
		...mapActions(['openModal', 'deleteStudent', 'setCurrentStudent']),
		editStudent() {
			this.setCurrentStudent(this.student);
			this.openModal(h(StudentEditModal));
		},
		removeStudent() {
			this.deleteStudent(this.student.id);
		},
		openStudent() {
			this.$router.push({
				name: 'Student Details',
				params: { studentId: this.student.id },
			});
		},
	},
});
</script>
