<template>
	<n-card
		style="width: 600px"
		title="Create Student"
		:bordered="false"
		size="huge"
		role="dialog"
		aria-modal="true"
	>
		<n-space vertical>
			<n-input
				v-model:value="firstName"
				type="text"
				placeholder="Fist name"
			/>
			<n-input
				v-model:value="lastName"
				type="text"
				placeholder="Last name"
			/>
			<n-space justify="space-between">
				<n-button type="error" @click="closeModal"> Abort </n-button>
				<n-button @click="submitCreate"> Create </n-button>
			</n-space>
		</n-space>
	</n-card>
</template>

<script>
import { defineComponent } from 'vue';
import { mapActions } from 'vuex';

export default defineComponent({
	data() {
		return {
			firstName: '',
			lastName: '',
		};
	},
	methods: {
		...mapActions(['createStudent', 'closeModal']),
		submitCreate() {
			this.createStudent({
				firstName: this.firstName,
				lastName: this.lastName,
			});

			this.closeModal();
		},
	},
});
</script>
