<template>
	<n-card
		style="width: 600px"
		title="Update Student"
		:bordered="false"
		size="huge"
		role="dialog"
		aria-modal="true"
	>
		<n-space vertical>
			<n-input
				v-model:value="firstName"
				type="text"
				placeholder="Fist name"
			/>
			<n-input
				v-model:value="lastName"
				type="text"
				placeholder="Last name"
			/>
			<n-space justify="space-between">
				<n-button type="error" @click="closeModal"> Abort </n-button>
				<n-button @click="submitEdit"> Submit </n-button>
			</n-space>
		</n-space>
	</n-card>
</template>

<script>
import { defineComponent } from 'vue';
import { mapActions, mapGetters } from 'vuex';

export default defineComponent({
	computed: {
		...mapGetters({
			student: 'getCurrentStudent',
		}),
	},
	mounted() {
		this.firstName = this.student?.firstName ?? '';
		this.lastName = this.student?.lastName ?? '';
	},
	data() {
		return {
			firstName: '',
			lastName: '',
		};
	},
	methods: {
		...mapActions(['updateStudent', 'closeModal']),
		submitEdit() {
			this.updateStudent({
				id: this.student.id,
				firstName: this.firstName,
				lastName: this.lastName,
			});

			this.closeModal();
		},
	},
});
</script>
