<template>
	<p>{{ student.firstName }} {{ student.lastName }}</p>
</template>

<script>
import { Student } from '@/store/modules';
import { defineComponent } from 'vue';

export default defineComponent({
	props: {
		student: Student,
	},
});
</script>
