<template>
	<n-card
		style="width: 600px"
		title="Update Score"
		:bordered="false"
		size="huge"
		role="dialog"
		aria-modal="true"
	>
		<n-space vertical>
			<n-input v-model:value="score" type="number" placeholder="Score" />
			<n-space justify="space-between">
				<n-button type="error" @click="closeModal"> Abort </n-button>
				<n-button @click="submitEdit"> Submit </n-button>
			</n-space>
		</n-space>
	</n-card>
</template>

<script>
import { defineComponent } from 'vue';
import { mapActions, mapGetters } from 'vuex';

export default defineComponent({
	computed: {
		...mapGetters({
			storeScore: 'getCurrentScore',
		}),
	},
	mounted() {
		this.score = this.storeScore?.score ?? null;
	},
	data() {
		return {
			score: null,
		};
	},
	methods: {
		...mapActions(['updateScore', 'closeModal']),
		submitEdit() {
			this.updateScore({
				studentId: this.storeScore.studentId,
				stationId: this.storeScore.stationId,
				score: this.score,
			});

			this.closeModal();
		},
	},
});
</script>
