<template>
	<p>
		{{ score.score }}
		<span v-if="score?.station?.unit">
			{{
				score.score === 1
					? score.station.unit.nameSingular
					: score.station.unit.namePlural
			}}
		</span>
	</p>
</template>

<script>
import { Score } from '@/store/modules';
import { defineComponent } from 'vue';

export default defineComponent({
	props: {
		score: Score,
	},
});
</script>
