<template>
	<n-card
		style="width: 600px"
		title="Create Score"
		:bordered="false"
		size="huge"
		role="dialog"
		aria-modal="true"
	>
		<n-space vertical>
			<search-dropdown
				:value="stationId"
				placeholder="Station"
				:getLabel="getStationLabel"
				itemKey="stations"
				:queryParameters="['name']"
				@on-select="onStationSelect"
			/>
			<search-dropdown
				:value="studentId"
				placeholder="Student"
				:getLabel="getStudentLabel"
				itemKey="students"
				:queryParameters="['name']"
				@on-select="onStudentSelect"
			/>
			<n-input v-model:value="score" type="number" placeholder="Score" />
			<n-space justify="space-between">
				<n-button type="error" @click="closeModal"> Abort </n-button>
				<n-button @click="submitCreate"> Create </n-button>
			</n-space>
		</n-space>
	</n-card>
</template>

<script>
import { defineComponent } from 'vue';
import { mapActions } from 'vuex';
import SearchDropdown from '@/components/SearchDropdown.vue';

export default defineComponent({
	components: {
		SearchDropdown,
	},
	data() {
		return {
			studentId: null,
			stationId: null,
			score: null,
		};
	},
	methods: {
		...mapActions(['createScore', 'closeModal']),
		submitCreate() {
			this.createScore({
				studentId: this.studentId,
				stationId: this.stationId,
				score: this.score,
			});

			this.closeModal();
		},
		getStationLabel(item) {
			return item.name;
		},
		onStationSelect(item) {
			this.stationId = item.id;
		},
		getStudentLabel(item) {
			return `${item.firstName} ${item.lastName}`;
		},
		onStudentSelect(item) {
			this.studentId = item.id;
		},
	},
});
</script>
