<template>
	<n-space>
		<n-button @click="editScore">
			<n-icon>
				<build-filled />
			</n-icon>
		</n-button>
		<n-button type="error" @click="removeScore">
			<n-icon>
				<delete-forever-filled />
			</n-icon>
		</n-button>
	</n-space>
</template>

<script>
import { Score } from '@/store/modules';
import { defineComponent, h } from 'vue';
import { mapActions } from 'vuex';
import { DeleteForeverFilled, BuildFilled } from '@vicons/material';
import ScoreEditModal from './ScoreEditModal.vue';

export default defineComponent({
	components: {
		DeleteForeverFilled,
		BuildFilled,
	},
	props: {
		score: Score,
	},
	methods: {
		...mapActions(['openModal', 'deleteScore', 'setCurrentScore']),
		editScore() {
			this.setCurrentScore(this.score);
			this.openModal(h(ScoreEditModal));
		},
		removeScore() {
			this.deleteScore(this.score);
		},
	},
});
</script>
