<template>
	<n-space vertical>
		<n-layout style="height: 100vh; widht: 100vh" has-sider>
			<n-layout-sider
				bordered
				collapse-mode="width"
				:collapsed-width="64"
				:width="180"
				:collapsed="collapsed"
				@collapse="collapsed = true"
				@expand="collapsed = false"
			>
				<n-space vertical justify="center" align="center">
					<n-button @click="toggleSidebar" quaternary size="large">
						<template #icon>
							<n-icon>
								<menu-filled />
							</n-icon>
						</template>
					</n-button>
					<n-menu
						:collapsed="collapsed"
						:collapsed-width="64"
						:collapsed-icon-size="22"
						:options="menuOptions"
						v-model:value="activeKey"
					/>
				</n-space>
			</n-layout-sider>
			<n-space vertical align="center" justify="start">
				<n-page-header>
					<template #title>
						<h2>{{ currentRouteName }}</h2>
					</template>
				</n-page-header>
				<n-layout content-style="padding: 24px; max-height: 95vh;">
					<router-view />
					<modal />
				</n-layout>
			</n-space>
		</n-layout>
	</n-space>
</template>

<script>
import { defineComponent, h, ref } from 'vue';
import { NIcon, NDivider } from 'naive-ui';
import { RouterLink } from 'vue-router';
import {
	PersonRound as PersonIcon,
	HomeFilled as HomeIcon,
	DesignServicesFilled as UnitIcon,
	GolfCourseFilled as StationIcon,
	BarChartFilled as ScoreIcon,
	MenuFilled,
} from '@vicons/material';
import Modal from '@/components/Modal.vue';

function renderIcon(icon) {
	return () => h(NIcon, null, { default: () => h(icon) });
}

const menuOptions = [
	{
		label: () =>
			h(
				RouterLink,
				{
					to: {
						name: 'Home',
					},
				},
				['Home']
			),
		key: 'home',
		icon: renderIcon(HomeIcon),
	},
	{
		label: () => h(NDivider),
		key: 'divider',
		disabled: true,
	},
	{
		label: () =>
			h(
				RouterLink,
				{
					to: {
						name: 'Scores Overview',
					},
				},
				['Scores']
			),
		key: 'scores',
		icon: renderIcon(ScoreIcon),
	},
	{
		label: () =>
			h(
				RouterLink,
				{
					to: {
						name: 'Students Overview',
					},
				},
				['Students']
			),
		key: 'students',
		icon: renderIcon(PersonIcon),
	},
	{
		label: () =>
			h(
				RouterLink,
				{
					to: {
						name: 'Stations Overview',
					},
				},
				['Stations']
			),
		key: 'stations',
		icon: renderIcon(StationIcon),
	},
	{
		label: () =>
			h(
				RouterLink,
				{
					to: {
						name: 'Units Overview',
					},
				},
				['Units']
			),
		key: 'units',
		icon: renderIcon(UnitIcon),
	},
];

export default defineComponent({
	components: {
		MenuFilled,
		Modal,
	},
	computed: {
		currentRouteName() {
			return this.$route.name;
		},
	},
	setup() {
		return {
			activeKey: ref(null),
			collapsed: ref(true),
			menuOptions,
		};
	},
	methods: {
		toggleSidebar() {
			this.collapsed = !this.collapsed;
			console.log('Bruh');
		},
	},
});
</script>
